.admin-info{
    font-family: Lexend;
    width: 85%;
    height: 100vh;
    background-color: var(--app-background);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    
}
.chips-row{
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.admin-title{
    color: var(--app-font);
    margin-top: 30px;
    width: 90%;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
}
.admin-body{
    color: var(--app-font);
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    height: 100%;
}
.admin-body-alt{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    
    width: 95%;
}
.admin-chips-row{
    color: var(--app-font);
    font-family: Lexend;
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 10px;
    height: 30px;
}