 #temporary{
    border-radius: 10px;
    width: 7vw;
    height: 15vh;
    box-shadow: 1px 1px 5px black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#temporary:hover{
    scale: 110%;
    opacity: 0.9;
    transition: 0.5s;
    cursor: pointer;
}