/* body{
    height: 100%;
    overflow: hidden;
} */
.leaflet-container {
    height: 100%;
    width: 50vw;
    z-index: 1;
}

.leaflet-popup.popup.leaflet-zoom-animated{
    bottom: -13vh !important;
}

.leaflet-popup-tip {
    background: transparent !important;
    box-shadow: none !important;
    /* Match background or set to transparent */
}

.leaflet-popup-content-wrapper {
    background: transparent !important;
    box-shadow: none !important;

}

.leaflet-container a.leaflet-popup-close-button{
    color: var(--app-blue) !important;
    position: relative !important;
    top:-300px !important;
    right:-7vw !important;
    font-size: 30px !important;
    
}
.re-map{
    
}

.leaflet-routing-container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    max-width: 300px;
    max-height: fit-content;
  }
  
  
  .leaflet-routing-geocoders input {
    border-radius: 6px;
    padding: 4px;
    font-size: 13px;
  }
  
  
  
  



#map{
    display: flex;
    flex: 1;
    height: 100%;
    width: 50%;
    min-height: 0;
    overflow: hidden;
}
