.grid-section{
    /* width: 50vw; */
    box-shadow: -5px 5px 5px grey;
    background-color: var(--app-background);
    overflow-y: auto;
    max-height: 100%;
    z-index: 2;
}


.grid-section-content{
}

.grid-section Box{
    padding-left: 10px;
}