.info-Tab{
    width: 50%;
    height: 45px;
    border-radius: 20px;
    font-family: Tajawal;
    display: flex;
    flex-direction: row;
    gap:30% ;
    align-items: center;
    padding-left: 50px;
    font-size: larger;
}