.main-profile{
    width: 100%;
    min-height: 100vh;
    color: var(--app-font);
    background-color: var(--app-background);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}
.profile-tab{
    width: 15%;
    height: 100vh;
    color: var(--app-font);
    background-color: var(--app-background);
    box-shadow: 70px 80px 90px  var(--app-shadow);
    margin-right: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}



.property-tile{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 35%;
    border-radius: 10px;
    background-color: var(--app-card);
    color: var(--app-font);
    margin-top: 5%;
    margin-bottom: 10px;
}

