.requests-title{
    margin-top: 30px;
    width: 90%;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
}

.chips-row{
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.profile-body{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    height: 100%;
}