 .Card-pic{
    width: 120px;
    height: 120px;
    background-image: url("../../../assets/agent.svg");
    background-position: center;
    background-size: cover;
  } 
 .card {
  overflow: ellipsis;
  word-break: break-word;
  text-overflow: clip;
  background: linear-gradient(
    to bottom,
    white 0%,
    var(--app-blue-opaque) 50%,
    var(--app-blue) 100%
  );
  border-radius: 14px;
  
  width: 20vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card:hover{
scale: 105%;
box-shadow: 1px 1px 10px var(--app-blue);
transition: 0.5s;
cursor: pointer;
}


 .details {
  text-align: center;
   font-weight: 300;
   font-size: large;
   font-family: Lexend;
   text-overflow: clip;
   margin-top: 0px;
   margin-bottom: 28px;
   padding-left: 20px;
   padding-right: 20px;
  color: white;
 }

 .name {
  text-overflow: ellipsis;
   font-size: 30px;
   margin-top: 30px;
   margin-bottom: 20px;
   font-weight: bold;
   color: var(--app-blue);
 }

 .service-button  {
   border: solid 1px var(--app-blue);
   color:var(--app-blue);
   border-radius: 12px;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: transparent;
   font-size: larger;

 }
 .service-button:hover{
  background-color: var(--app-blue-opaque);
  opacity: 0.9;
  scale: 105%;
  transition: 0.2s;
  cursor: pointer;
 }