.trending-card {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  padding: 12px;
  position: relative;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.trending-pic {
  width: 100%;
  max-width: 300px;
  box-shadow: 1px 1px 5px grey;
  border-radius: 8px;
  object-fit: cover;
}

.popular-tag {
  transform: scale(0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: var(--app-blue-opaque);
  color: var(--app-blue);
  font-family: Lexend;
  padding: 4px 8px;
  border-radius: 32px;
  font-size: 10px;
  font-weight: 700;
  width: 70px;
  height: 15px;
  z-index: 1;
  user-select: none;
}

.property-info {
  padding-left: 10px;
  margin-top: 8px;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

.property-title {
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2px;
  font-size: 14px;
  font-weight: bold;
  font-family: Tajawal;
  color: black;
  box-sizing: border-box;
}

.favorite-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.favorite-circle:hover {
  border-color: var(--app-blue);
}

.property-favorite {
  width: 95%;
  height: 40px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}

.price-section {
  display: flex;
  width: 100%;
  max-width: 230px;
  flex-direction: row;
  justify-content: space-between;
  font-family: Lexend;
  font-weight: 500;
  color: var(--app-blue);
  box-sizing: border-box;
}

.price {
  font-size: 16px;
}

.period {
  font-size: 14px;
  color: #666;
}

.trending-pic:hover {
  cursor: pointer;
  filter: brightness(0.95);
  transition: filter 0.3s ease;
}
