.Agent-property-card {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px grey;
    border-radius: 6px;
    width: 320px;
    height: 360px;
    transition: box-shadow 0.1s;
    background-color: white;
    margin-bottom: 30px;
}
/* body{
    background-color: #222;
} */
.Agent-property-pic {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: 100%;
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
}
.property-status{
    background-color: var(--app-blue);
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 5px;
    color: white;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 400;
}
.property-status:hover{
    font-size: 25px;
    transition: 0.5s;
    cursor: default;
}
.location-status {
    font-family: Tajawal;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    font-size: 130%;
    margin-top: 5px;
    font-weight: 500;
}

.info {
    width: 90%;
    display: flex;
    justify-content: start;
    padding-left: 5%;
    font-size: 100%;
    margin-top: 5px;
    color: grey;
    font-weight: 300;
}


.manage-button:hover{
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

.manage-button{
    font-family: thicc;
    font-size: 20px;
    color: white;
    background-color: var(--app-blue);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}