.dialog-body{
    width: 24vw;
    min-height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: AgentAnimation 0.3s  ;
    
}
.inputBox{
   height: 5vh;
   width: 90%; 
   background-color: var(--app-light-grey);
   border-radius: 14px;
   padding-left: 20px;
   font-family: thicc;
   border: none;
}
.inputBox:focus{
    outline: none;
}
.login-button{
    
    border-radius: 15px;
    align-self: center;
    background-color: var(--app-blue);
    color: white;
    font-family: thicc;
    font-size:20px;
    width: 50%;
    height: 6vh;
    border: none;
    box-shadow: 1px 2px 3px var(--app-blue);
}
.login-button:hover{
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}
.Main-title{
    display: flex;    
    font-family: thicc;
    font-size: larger;
}
.create-text{
    justify-self: center;
    align-self: center;
}
.create-text:hover{
    color: var(--app-blue);
    cursor: pointer;
    text-decoration: underline;
    transition: 0.5s;
    
}
.forgot-text{
color: var(--app-blue);
}
.forgot-text:hover{
    width: fit-content;
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.7;

}
.subtitle-verify{
    font-family: 300;
    align-self: center;
    padding-bottom: 35px;
}

input[type="checkbox"]{
    accent-color: var(--app-blue);
}
.back-button{
    align-self: start;
    justify-self: start;
    margin-right: 30%;
    font-weight: 300;
}
.back-button:hover{
    color: var(--app-blue);
    cursor: pointer;
}
@keyframes AgentAnimation {
    0%{
        
        width:  6vw;
    }
    100%{
        width:  24vw;
    }
}
@keyframes ProfileAnimation {
    0%{
       overflow: hidden; 
        scale: 25%;
    }
    100%{
        scale:100% ;
    }
}
.container{
    width: 80%;
    align-self: center;
    margin-bottom: 20px;
}
.character{
    background-color: var(--app-light-grey);
    border: none;
    border-radius: 10px;
}
.character-inactive{
    margin-right: 5px;
    color: black;
}
.character-active{
    border: 3px solid var(--app-blue);
    color: var(--app-blue);
}
.character-selected{
    outline: none;
    box-shadow: none;
    border: 3px solid black;
    color: black;
}
.option-button{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    height: 20%;
    border-radius: 25px;
    background-color: var(--app-light-grey);
    border: none;
}
.dropdown-signup{
    border: solid 2px black;
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: thicc;
    font-size: 15px;
}

.editProfileTab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding: 10px;
}
.editProfileTab-content{
    display: flex;
    gap: 20px;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
}
.user-info{
    font-weight: 300;
    color: grey;
    font-size: 25px;
}
.edit-button-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-blue);
    border: none;
    color: white;
    box-shadow: 1px 1px 5px  grey;
    border-radius: 5px;
    padding: 5px;
    width: 10%;
    height: 30%;
}