.dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.dialog-box {
  background: var(--app-card);
  padding: 20px;
  border-radius: 12px;
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 6px 20px var(--app-shadow);
}

.dialog-box h2 {
    font-size: 30px;
  font-family: Tajawal;  
  color: var(--app-blue);  
  margin-bottom: 15px;
}

.form-grid {
  display: grid;
  gap: 10px;
}

.dialog-input,
.dialog-textarea,
.dialog-select {
  padding: 8px;
  border: 2px solid var(--app-blue);
  background: var(--app-card);
  border-radius: 6px;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  color: var(--app-font);
}
.dialog-textarea,.dialog-select,.dialog-label,
.dialog-input::placeholder{
    color: var(--app-font);
    font-family: Tajawal;
}
.dialog-textarea,
.dialog-select,.dialog-label,
.dialog-input:focus{
    outline: none;
}

.dialog-textarea {
  min-height: 60px;
  resize: vertical;
}

.dialog-label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.dialog-button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
}

.dialog-button.cancel {
font-family: thicc;
background: var(white);
color: var(--app-blue);
width: 100px;
}

.dialog-button.submit {
font-family: thicc;
background: var(--app-blue);
color: white;
width: 100px;
}

