.grid-section{
    background-color: var(--app-background);
    width: 50vw;
    position: fixed;
    right: 0;
    overflow-y: scroll;
    max-height: 100%;
    box-shadow: -5px 5px 5px grey;
    z-index: 2;
}

.grid-section-content{
    padding: 1rem;   
}

.grid-section Box{
    padding-left: 10px;
}