.HomePage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--app-background);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.5s ease, color 1s ease-in;
}
--webkit::-webkit-scrollbar{
    display: none;
}
