.filter-dropdown {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 1rem;
}

/* .filter-label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
} */

.filter-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
}