html,body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  
}

.F-col-c-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}