@font-face {
  font-family: "Thicc";
  src: url("./assets/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Lexend";
  src: url("./assets/Lexend-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Tajawal";
  src: url("./assets/Tajawal-Regular.ttf");
}
body {
  font-family: sans-serif;
  min-width: 320px;
  min-height: 100vh;
}
:root{
  --app-blue:rgb(33, 81, 219);
  --app-blue-opaque:rgba(33, 81, 219,0.3);
  --app-background:rgb(247, 247, 247);
  --app-grey:rgb(103, 104, 105);
  --app-light-grey:rgba(128, 128, 128,0.2);
  --app-font:rgb(0,0,0);
  --app-green:#24A56C;
  --app-red:#FF0000;
  overflow-y: auto;
}


.colored-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: white;
  font-size: 20px;
  background-color: var(--app-blue);
  font-family: Lexend;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}
.border-button{
  
  background-color: white;
  color: var(--app-blue);
  padding: 7px;
  font-family: Lexend;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid var(--app-blue);
  font-weight: 300;
}
.colored-button:hover{
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
}
.border-button:hover{
  transition: 0.5s;
  background-color: var(--app-blue-opaque);
  cursor: pointer;
}